:root {
    font-family: Helvetica, Arial, sans-serif;
    color-scheme: light dark;
}

body {
    margin: 0;
}

#main {
    position: relative;
    top: 20vh;
    width: 63vw;
    margin: auto;
}

#text-box {
    min-height: 20vh;
    height: 50vh;
    width: 100%;
    padding: 0.6rem;
    resize: vertical;
    font-family: inherit;
    box-sizing: border-box;
    margin-bottom: 5px;
}

#tools {
    overflow-wrap: break-word;
    line-height: 1.5;
    float: right;
}

button {
    padding: 0.6rem;
    line-height: 1cap;
    cursor: pointer;
}

.separator::after {
    content: ' | ';
}

@media (width < 1000px) {
    #main {
        width: 630px;
    }
}

@media (width < 700px) {
    #main {
        width: 90vw;
    }
}

@media (width < 600px) {
    #tools {
        float: none;
        text-align: center;
    }
    
    button {
        display: block;
        margin: auto;
        margin-top: 5px;
    }
}

@media (width < 500px) {
    .separator::after {
        content: '\A';
        white-space: pre;
    }
}

@media (height < 400px) {
    #main {
        top: calc(50vh - 120px);
    }
    
    #text-box {
        height: 200px
    }
}

@media (height < 240px) {
    #main {
        top: 0;
    }
}

@media (height < 200px) {
    #text-box {
        height: 100vh
    }
}

@media (width < 800px) {
    @media (height < 800px) {
        #main {
            top: 5vw;
        }
    }
    @media (height < 400px) {
        #main {
            --100vw: 100vw;
            --w: calc(5*tan(atan2(var(--100vw), 100px))); /* 5vw in pixels */
            top: calc(var(--w) * 0.5vh - 5vw);
        }
    }
    @media (height < 200px) {
        #main {
            top: 0;
        }
    }
}

@property --100vw {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}
